<?xml version="1.0"?>
<launch>
<arg name="map_file" default="$(find my_robot)/maps/map.yaml"/>
<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
    <param name="frame_id" value="map"/>
</node>
<node pkg="tf" type="static_transform_publisher" name="map_to_odom"
    args="0 0 0.1 0 0 0 1.0 /map /odom 100" />
<node pkg="tf" type="static_transform_publisher" name="odom_robot_footprint"
    args="0 0 0.1 0 0 0 1.0 /odom /robot_footprint 100" />

<node name="amcl" pkg="amcl" type="amcl" output="screen">
  <remap from="scan" to="/scan"/>
  <param name="odom_frame_id" value="odom"/>
  <param name="odom_model_type" value="diff-corrected"/>
  <param name="base_frame_id" value="robot_footprint"/>
  <param name="global_frame_id" value="map"/>
  <param name="initial_pose_x" value="0"/>
  <param name="initial_pose_y" value="0"/>
  <param name="initial_pose_a" value="-1.57"/>
</node>

</launch>

